<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="systemDate" value="10/07/2012"/>
    <add key="DefaultCulture" value="es-AR" />
  </appSettings>
  <connectionStrings>
    <add name="dataSource" connectionString="Data Source=.\SQLSERVER2008;Initial Catalog=GD2C2013;User ID=gd;Password=gd2013"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>